{% extends 'base.html' %}
{% block title %}Início{% endblock %}
{% block content %}

  <div class="mt-5">
    <h2>Dashboard</h2>

    <div class="main-div" style="margin-top: 80px;">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a href="{% url 'reserva_listar' %}">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <i class="fas fa-lg fa-calendar-alt mr-1" aria-hidden="true"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title text-white">Reservas</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <a href="{% url 'stand_listar' %}">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <i class="fas fa-lg fa-clipboard-list mr-1" aria-hidden="true"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title text-white">Stands</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <a href="">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <i class="fas fa-check fa-user mr-1" aria-hidden="true"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title text-white">Usuários</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
