{% extends "base.html" %}

{% block content %}

<div class="row col-12 d-flex justify-content-center mt-5" style="padding-left: 100px;padding-right: 100px;">
  <h2>Reservas</h2>
  <hr>
  <div class="row col-12 mt-5 d-flex justify-content-center">
    <div class="col-6">
      <div>
        <strong style="">Nome da Empresa:</strong>
        <p class="">{{ object.nome_empresa }}</p>
        <hr style="font-size: 40px;" />
      </div>
    </div>

    <div class="col-6">
      <div>
        <strong style="">CNPJ:</strong>
        <p class="">{{ object.cnpj }}</p>
        <hr style="font-size: 40px;" />
      </div>
    </div>
  </div>

  <div class="row col-12 mt-5 d-flex justify-content-center">
    <div class="col-6">
      <div>
        <strong style="">Categoria da Empresa:</strong>
        <p class="">{{ object.categoria_empresa }}</p>
        <hr style="font-size: 40px;" />
      </div>
    </div>

    <div class="col-6">
      <div>
        <strong style="">Status:</strong>
        <p class="">

          {% if object.quitado %}
              Pagamento Efetuado
          {% else %}
              Pagamento Pendente
          {% endif %}

        </p>
        <hr style="font-size: 40px;" />
      </div>
    </div>

    
  </div>

  <div  class="row col-12 mt-5 d-flex justify-content-center">
    <div class="col-6">
      <div>
        <strong style="">Stand:</strong>
        <p class="">{{ object.stand }}</p>
        <hr style="font-size: 40px;" />
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around mt-5">
    <div>
      <a href="{% url 'reserva_listar' %}" class="btn btn-primary text-white" style="border-radius: 50px; width: 200px;"><i class="fas fa-chevron-left" aria-hidden="true"></i><strong>VOLTAR</strong></a>
    </div>

    <div>
      <a href="{% url 'reserva_editar' object.pk %}" class="btn btn-primary text-white" style="border-radius: 50px; width: 200px;"><i class="fas fa-edit" aria-hidden="true"></i><strong>EDITAR</strong></a>
    </div>
  </div>
</div>

{% endblock %}