{% extends 'base.html' %}

{% block title %}
  Cadastro de Reservas
{% endblock %}
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <div class="mt-5">
    <h2>Deletar Reserva</h2>
    <form method="post">
        <section class="form container-fluid p-5x">
        {% csrf_token %}
          <p> Você tem certeza que quer deletar a reserva "{{ object.nome_empresa }}"?</p>
          {{ form }}
      </section>
      <div>
        <button style='color:white' type="submit" class="btn btn-primary">Sim</button>
        <a style='color:white' class="btn btn-primary" href="{% url 'reserva_listar' %}">Não</a>
      </div>
        
      </form>
    
  </div>
{% endblock %}
