{% extends "base.html" %}

{% block title %}Lista de Stands{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Lista de Stands</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Localização</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.localizacao}}</td>
                <td>{{object.valor}}</td>
                <td>
                    <a href="{% url 'stand_editar' pk=object.pk %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'stand_remover' pk=object.pk %}"><i class="fas fa-trash-alt"></i></a>
                    <a href="{% url 'stand_detalhe' pk=object.pk %}"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">
                <p>Não existem reservas cadastradas.</p>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <span class="br-divider my-3"></span>

    {% if page_obj.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">
                            <<
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <
                        </a>
                    </li>
                {% endif %}
    
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                        {% if page_obj.number == page_number %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ page_number }}">
                                    {{ page_number }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_number }}">
                                    {{ page_number }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            >
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            >>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    
    <span class="br-divider my-3"></span>

    <div class="mb-3">
        <a style='color:white' href="{% url 'stand_criar' %}" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
