{% extends 'base.html' %}

{% block content %}
  <div class="row col-12 d-flex justify-content-center mt-5" style="padding-left: 100px;padding-right: 100px;">
    <h2>Stands</h2>
    <hr>
    <div class="row col-12 mt-5 d-flex justify-content-center">
      <div class="col-6">
        <div>
          <strong style="">Localização:</strong>
          <p class="">{{ object.localizacao }}</p>
          <hr style="font-size: 40px;" />
        </div>
      </div>

      <div class="col-6 text-end">
        <div>
          <strong style="">Valor:</strong>
          <p class="">R$ {{ object.valor }}</p>
          <hr style="font-size: 40px;" />
        </div>
      </div>
    </div>
    

    <div class="d-flex justify-content-around mt-5">
      <div>
        <a href="{% url 'stand_listar' %}" class="btn btn-primary text-white" style="border-radius: 50px; width: 200px;"><i class="fas fa-chevron-left" aria-hidden="true"></i><strong>VOLTAR</strong></a>
      </div>

      <div>
        <a href="{% url 'stand_editar' object.pk %}" class="btn btn-primary text-white" style="border-radius: 50px; width: 200px;"><i class="fas fa-edit" aria-hidden="true"></i><strong>EDITAR</strong></a>
      </div>
    </div>
  </div>
 
{% endblock %}
